{% extends "hogwarts_template.html.twig" %}

{% block courses %}

{% if courses is not empty %}
    {% for course in courses %}
        <ul>
            <li><a href="/courses/{{course.getId}}">{{course.getName}}</a></li>
        </ul>
    {% endfor %}
{% else %}
    <p>There are no courses yet!</p>
{% endif %}

    <form action="/add-course" method="post">
        <div class="form-group">
            <label for="name">Course Name:</label>
            <input type="text" name="name" placeholder="Potions">
        </div>

        <button type="submit" class="btn btn-info">Submit!</button>
    </form>

    <br><br>
    <h3>Enroll a new student!</h3>
        <form action="/add-student" method="post">
            <div class="form-group">
                <label for="name">Student Name:</label>
                <input type="text" name="name" placeholder="Harry Potter">
            </div>
            <div class="form-group">
                <label for="enrollment_date">Enrollment Date:</label>
                <input type="text" name="enrollment_date" placeholder="2010/09/01">
            </div>

            <button type="submit" class="btn btn-success">Submit!</button>
        </form>

{% endblock %}

{% block students %}

{% if students is not empty %}
    {% for student in students %}
        <ul>
            <li>{{student.getName}}
                <form action="/students/{{student.getId}}/edit" method="post" style="display: inline">
                    <button type="submit" class="btn btn-success">Update Student</button>
                </form>
                <form action="/delete-student/{{student.getId}}" method="post" style="display: inline">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger">Delete Student</button>
                </form>
            </li>
        </ul>
    {% endfor %}
{% else %}
    <p>There are no students yet!</p>
{% endif %}

{% endblock %}
